form{
	.ss-form-entry{
		display: block;
		margin-bottom: 1.3rem;
		border-left: solid 4px;
		padding: 5px 1.2rem;
	}

	.required-message{
		display: block;
		font-size: 0.7em;
		padding: 6px 0px;
		color: #AA0000	
	}
}